/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
	flex-direction: row;
	//flex-wrapは親要素に
	flex-wrap: wrap;
}
.houses {
	&__item {
		//flex-basisは子要素に
		flex-basis: 50%;
		margin-bottom: 60px;
	}
}

.travel {
	&__inner {
		padding: 50px;
		justify-content: space-between;
	}
	&__texts,
	&__img {
		flex-basis: 47%;
	}
	&__texts {
		display: flex;
		align-items: flex-end;
	}
}

.popular {
	&__item {
		//flex-basisは子要素に
		flex-basis: 47%;
	}
}

.footer {
	& .logo {
		justify-content: flex-start;
	}
	&__li {
		margin-left: 0;
		margin-right: 30px;
	}
}
