/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
	flex-direction: row;
	//flex-wrapは親要素に
	flex-wrap: wrap;
}
.houses {
	&__item {
		//flex-basisは子要素に
		flex-basis: 50%;
		margin-bottom: 60px;
	}
}

.popular {
	&__container {
		justify-content: space-between;
	}
	&__item {
		//flex-basisは子要素に
		flex-basis: 47%;
	}
}
